<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="stylesheets/front.css">
<link rel="stylesheet" href="stylesheets/front1.css">
<link rel="stylesheet" href="stylesheets/font2.css">
</head>
<body>

<div class="topnav">
<div class="navbar1">
<div class="dropdown">
    <button class="dropbtn">Home 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
     <center>  <h4><font size="3" color="brown">upload Notes</h4></center>
      <a href="https://www.w3schools.com/html/">&nbsp;&nbsp;&nbsp;<img src="image/upload.png" style="width:95px;height:85px;"></a>
<hr>
   <center>  <h4><font size="3" color="brown">Issued-Book-status </h4></center>
        <a href="https://www.w3schools.com/html/">&nbsp;&nbsp;&nbsp;<img src="image/issue.png" style="width:95px;height:85px;"></a>
<hr>
   <center>  <h4><font size="3" color="brown">Issue Books</h4></center>

 <a href="/frontpage">&nbsp;&nbsp;&nbsp;<img src="image/review.png" style="width:95px;height:85px;"></a>

    
    
  
    </div>
  </div> 
<div class="dropdown">
    <button class="dropbtn">status
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
 
 <center>  <h4><font size="3" color="brown">Feedback</h4></center>
 <a href="/formpage">&nbsp;&nbsp;&nbsp;<img src="image/feedback.png" style="width:95px;height:85px;"></a>
    <hr>
    <center>  <h4><font size="3" color="brown">Book Request Status</h4></center>
 <a href="https://www.w3schools.com/html/">&nbsp;&nbsp;&nbsp;<img src="image/status.png" style="width:95px;height:85px;"></a>
 <hr>
    <center>  <h4><font size="3" color="brown">Complaint's</h4></center>
 <a href="https://www.w3schools.com/html/">&nbsp;&nbsp;&nbsp;<img src="image/complaints.png" style="width:95px;height:85px;"></a>
  
    </div>
   
  </div> 

</div>
  
  <div class="search-container">

    <form>
     <a href="#"><img src='image/signup.png' width="25" height="25"/>Signup</a>
      <a href="#"><img src='image/login.png' width="25" height="25"/>login</a>
    </form>
  </div>



<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="image/stu1.jpg" width="100%">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="image/stu2.jpg" width="100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="image/lib1.jpg" width="100%">
  <div class="text">Caption Three</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>


<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>


</body>
</body>
</html>

